@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

:root {
  --background: #ffffff; /* 필요에 맞게 색상 지정 */
  --foreground: #000000;

  /* HeatMap 색상 */
  --MO10: #a1a1ff;
  --MO20: #8d8df4;
  --MO30: #8181e8;
  --MO40: #7272d9;
  --MO50: #6161ce;
  --MO60: #5555bf;
  --MO70: #4a4aae;
  --MO80: #3d3d97;
  --MO90: #313183;
  --MO100: #262669;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 100 900; /* 100부터 900까지의 다양한 굵기 지원 */
  font-style: normal;
  src: url("/fonts/PretendardVariable.woff2") format("woff2");
}
/* 전체 스크롤바 숨기기 */
::-webkit-scrollbar {
  width: 0px; /* 스크롤바 너비를 0으로 설정하여 숨김 */
  height: 0px; /* 가로 스크롤바도 숨기려면 height도 설정 */
}
/* DatePicker */
.react-datepicker {
  width: 100% !important; /* 캘린더 너비를 부모의 100%로 설정 */
  display: flex;
  justify-content: center;
  align-items: center;
  border: none !important;
}

.react-datepicker__day-names {
  padding-left: 6%;
  padding-right: 6%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.react-datepicker__day-name {
  color: rgba(60, 60, 67, 0.3) !important;
  font-family: "Pretendard", "sans-serif";
  font-size: 13px;
  font-weight: 700;
}

.react-datepicker__month-container {
  width: 100%;
}

.react-datepicker__header {
  text-align: left !important;
  width: 100%;
  background-color: #fff !important;
  border: none !important;
}

.react-datepicker__current-month {
  padding: 1.5% !important;
  font-family: "Pretendard", "sans-serif";
  margin-left: 5% !important;
}

.react-datepicker__month {
  width: 100%;
  margin: 0 !important;
}

.react-datepicker__day,
.react-datepicker__time-name {
  font-family: "Pretendard", "sans-serif";
  font-weight: 500 !important;
  font-size: 15px;
  color: #000 !important;
}

.react-datepicker__week {
  padding-left: 6%;
  padding-right: 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5%;
}

/* 버튼 위치 조정 */
.react-datepicker__navigation {
  top: 4% !important;
}

.react-datepicker__navigation--previous {
  left: auto !important;
  right: 10% !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: transparent !important;
  color: inherit !important;
  font-weight: inherit !important;
}

.react-datepicker__day--today {
  background-color: transparent !important;
  color: inherit !important;
  font-weight: inherit !important;
}

.react-datepicker__day--highlighted {
  color: #7272d9 !important;
  background-color: #ebebf7 !important;
  border-radius: 100% !important;
  font-weight: 700 !important;
}

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #6161ce; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
